
/* GLOBAL STYLES */

/* Layout*/

html {
    line-height: 0;
    overflow-x: hidden;
    background-color: #e6e6e6;
}

body {
    width: 100%;
}

nav {
    background-color: #04387C;
    height: 100px;
    width: 1440px;
    display: inline-flex;
    padding: 20px 83px 20px 63px;
    align-items: flex-end;
    gap: 159px;
}

/* Margin & Padding */

.margin-default {
    margin: 0 80px;
}

.padding-default {
    padding: 104px 0 144px 0;
}

.padding-80 {
    padding: 80px 0;
}

.padding-40 {
    padding: 40px 0;
}

.padding-bottom {
    padding-bottom: 144px;
}

.padding-sides {
    padding: 0 80px;
}


/* Backgrounds */

.sect-dark {
    background-color: #242424;
    padding: 80px;
}

.sect-dark p {
    color: white;
}


/* Text Styles */

h1 {
    color: black;
    font-family: "EB Garamond";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px 0px 16px 0px;
}

h2 {
    font-family: "EB Garamond";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    color: black;
    margin: 0px 0px 24px 0px;
}

.h2-reverse {
    color: white;
    font-family: "EB Garamond";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px 0px 16px 0px;
}

.h3-reverse {
    color: white;
    font-family: "EB Garamond";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px 0px 16px 0px;
}

p {
    margin: 0px 0px 16px 0px;
    color: black;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p-bold {
    color: black;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.p-lg {
    color: black;
    font-family: "EB Garamond";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px 0px 24px 0px;
}

a {
    color: black;
}

button a {
    text-decoration: none;
    color: inherit;
}

ul a {
    text-decoration: none;
    color: inherit;
}

.all-caps {
    font-family: "Work Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.graphic-text {
    color: rgba(0, 0, 0, 0.10);
    font-family: "EB Garamond";
    font-size: 142px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
}


/* Buttons */


.main-btn {
    display: block;
    width: auto;
    height: auto;
    padding: 15px 15px;
    border-style: none;
    background-color: #04387C;
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    font-variant:normal;
    font-weight: 300;
    line-height: normal;
}

.btn-reverse {
    display: block;
    width: auto;
    height: auto;
    padding: 15px 15px;
    border-color: #04387C;
    background-color: white;
    color: #04387C;
    font-family: "Poppins";
    font-size: 20px;
    font-variant:normal;
    font-weight: 300;
    line-height: normal;
}


/* HEADER */

#logo {
    display: flex;
    align-content: start;
    width: 100px;
}

#top-nav li {
    display: inline;
    margin-left: 30px;
    font-family: "Poppins";    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    color: white;
}
  
  #top-nav ul {
    padding-left: 0;
}

#top-nav li:hover {
    color: orange;
    font-weight: 500;
}



/* HERO */

#hero {
    background-image: url(../images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero-text h1 {
    font-family: "Poppins";
    font-size: 80px;
    font-weight: 600;
    line-height: 110%;
    color: white;
    justify-content: center;
    padding: 80px;
    margin-bottom: -140px;
}

.hero-text h2 {
    font-family: "Poppins";
    font-size: 50px;
    font-weight: 400;
    line-height: 110%;
    color: white;
    justify-content: center;
    padding: 80px;
}

.hero-btn {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: -60px;
    padding-bottom: 70px;
}

/* EVENT SECTION */
#event {
    background-image: url(../images/event.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 40px;
    margin: 80px;
}

.event-banner {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.812);
    width: 600px;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.event-banner h2 {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 300;
    padding: 40px;
    line-height: 110%;
}

.event-banner p {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 300;
    line-height: 115%;
    padding-left: 40px;
    padding-right: 40px;
}

.event-btn {
    padding-top: 40px;
    padding-bottom: 40px;
}

#event strong {
    font-weight: 600;
    color:#04387C;
}

/* BIKES SECTION */
#bikes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bikes h1 {
    font-family: "Poppins";
    font-size: 55px;
    font-weight: 500;
    color: #303030;
}

.bikes-banner {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}