
/* GLOBAL STYLES */

/* Layout*/

html {
    line-height: 0;
    overflow-x: hidden;
    background-color: #f1f1f1;
}

body {
    width: 100%;
}

nav {
    background-color: #04387C;
    height: 100px;
    width: 1440px;
    display: inline-flex;
    padding: 20px 83px 20px 63px;
    align-items: flex-end;
    gap: 159px;
}

/* Buttons */


.main-btn {
    display: block;
    width: auto;
    height: auto;
    padding: 15px 15px;
    border-style: none;
    background-color: #04387C;
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    font-variant:normal;
    font-weight: 300;
    line-height: normal;
}

.main-btn:hover {
    background-color: #032c61;
    color: rgb(216, 216, 216);
}

.btn-reverse {
    display: block;
    width: auto;
    height: auto;
    padding: 15px 15px;
    border-color: #04387C;
    background-color: white;
    color: #04387C;
    font-family: "Poppins";
    font-size: 20px;
    font-variant:normal;
    font-weight: 300;
    line-height: normal;
}

.btn-reverse:hover {
    border-color: white;
    background-color: #04387C;
    color: white;    
}

.btn-form {
    display: block;
    width: auto;
    height: auto;
    padding: 15px 15px;
    border-color: black;
    background-color: white;
    color: #000000;
    font-family: "Poppins";
    font-size: 20px;
    font-variant:normal;
    font-weight: 300;
    line-height: normal;
}

.btn-form:hover {
    border-color: white;
    background-color: black;
    color: white;
}

.btn-drop {
    display: block;
    width: 100%;
    height: auto;
    padding: 15px 15px;
    background-color: #04387C;
    border: none;
    color: white;
    text-align: left;
    font-family: "Poppins";
    font-size: 24px;
    font-variant:normal;
    font-weight: 600;
    line-height: normal;
}

/* HEADER */

#logo {
    display: flex;
    align-content: start;
    width: 100px;
}

#top-nav li {
    display: inline;
    margin-left: 30px;
    font-family: "Poppins";    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: 40px; /* 100% */
    color: white;
}
  
  #top-nav ul {
    padding-left: 0;
}

/* PADDING */
.padding-all {
    padding:40px;
}

/* NAV LINKS */
#top-nav a {
    display: inline;
    margin-left: 10px;
    font-family: "Poppins";    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: 40px; /* 100% */
    color: white; 
}

#top-nav a:hover {
    color: orange;
    font-weight: 500;
}

#top-nav a:active {
    color: orange;
    font-weight: 500;
}

/* LAYOUT */
.section-hero {
    padding-top: 200px;
}

/* HERO */

#hero {
    background-image: url(../images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
}

#about-hero {
    background-image: url(../images/about-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 566px;    
}

#workshop-hero {
    background-image: url(../images/workshop-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 566px;    
}

.home-hero-text h1 {
    font-family: "Poppins";
    font-size: 80px;
    font-weight: 600;
    line-height: 110%;
    color: white;
    justify-content: center;
    padding: 80px;
    margin-bottom: -180px;    
}

.home-hero-text h2 {
    font-family: "Poppins";
    font-size: 50px;
    font-weight: 400;
    line-height: 110%;
    color: white;
    justify-content: center;
    padding: 80px;
}

.hero-text h1 {
    font-family: "Poppins";
    font-size: 80px;
    font-weight: 600;
    line-height: 110%;
    color: white;
    justify-content: center;
    padding: 80px;
    margin-bottom: -140px;
}

.hero-text h2 {
    font-family: "Poppins";
    font-size: 50px;
    font-weight: 400;
    line-height: 110%;
    color: white;
    justify-content: center;
    padding: 80px;
}

.hero-text h3 {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 300;
    line-height: 110%;
    color: white;
    justify-content: center;
    padding-top: 30px;
    padding-left: 85px;
}

.hero-btn {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: -60px;
    padding-bottom: 70px;
}

/* LINKS */
.hero-text h3 a:hover {
    color: orange;
}

.hero-text h3 a:visited {
    color:white;
    text-decoration: none;
}

.home-link a {
    text-decoration: none;
}

.home-link a:hover {
    text-decoration: underline;
}

/* EVENT SECTION */
#event {
    background-image: url(../images/event.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 40px;
    margin: 80px;
}

.event-banner {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.812);
    width: 600px;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.event-banner h2 {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 300;
    padding: 40px;
    line-height: 120%;
}

.event-banner p {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 300;
    line-height: 115%;
    padding-left: 40px;
    padding-right: 40px;
}

.event-btn {
    padding-top: 40px;
    padding-bottom: 40px;
}

#event strong {
    font-weight: 600;
    color:#04387C;
}

/* SHOP SECTION */
#bikes, #parts-acc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#bikes h1, #parts-acc h1 {
    font-family: "Poppins";
    font-size: 55px;
    font-weight: 500;
    color: #303030;
}

#parts-acc img {
    width: 412px;
    height: 246px;
    object-fit: contain;
}

.bikes-banner {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 24px;
    overflow-x: scroll;
}

.parts-banner {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: start;
    align-items: center;
    gap: 24px;
    overflow-x: scroll;
}

.bike {
    position: relative;
}

.info-overlay {
    position: absolute; /* Positioned over the image */
    top: 65%;
    left: 0;
    width: 100%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-text {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
    color: #303030;
}

.info-link {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    color: #303030;  
}

/* IMAGES */
.img-transparent {
    width: 600px;
    padding-top: 40px;
}

/* DONATION SECTION */
#donation {
    padding-top: 40px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.donation-banner {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: auto;
    background-color: white;
}

.donation-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Poppins";
    font-size: 22px;
    line-height: normal;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
    padding-left: 40px;
}
.donation-img {
    width: 750px;
}

/* FOOTER */
footer {
    background-color: #1F1F1F;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 80px;
}

footer h1 {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
}

footer p, footer label {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    color: #D9D9D9;
    line-height: normal;
}

footer ul {
    padding: 0;
    margin-top: -70px;
}

footer li {
    list-style-type: none;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-family: "Poppins";
    font-size: 18px;
    text-align: center;
    width: auto;
    display: inline;
}

footer img {
    width: 45px;
    height: 45px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 34px;
}

.footer-line {
    border-left: 2px solid white;
    height: auto;
}

.form-field {
    display: block;
    width: 80%;
    height: 50px;
    border-style: none;
    margin-top: 16px;
    margin-bottom: 16px;
}

.soc-logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    justify-content: space-between;
}

.soc-icons {
    width: 35px;
    height: 35px;
}

.logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 70px;
    width: 100px;
    height: 135px;
}

/* ABOUT */
#about-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#about-body strong {
    color:#1F1F1F;
}

#about-body p {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: normal;
    width: 850px;
}

#about-body h2 {
    color:#1F1F1F;
    font-size: 34px;
}

#about-body a {
    text-decoration: none;
    color: black;
}

#about-body a:visited {
    color: black;
}

#about-body a:hover {
    color:#04387C;
}


.submenu strong {
    color:#1F1F1F;
}

.submenu ul {
    list-style-type: none;
    margin: 0;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

.submenu li {
    list-style-type: inline;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-family: "Poppins";
    font-size: 24px;
    text-align: left;
    width: auto;
}

.submenu li:hover {
    color:#04387C;
}

.bullet-list ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;
}

.bullet-list li {
    margin-bottom: 20px;
    font-family: "Poppins";
    font-size: 24px;
    text-align: left;
    width: auto;    
}

.divider {
    border-left: 2px solid #1F1F1F;
    height: 360px;
    margin-top: 40px;
}

.section-header {
    color:#1F1F1F;
    margin-bottom: -10px;
}

.body {
    width: 850px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    font-family: "Poppins";
    font-size: 20px;
    line-height: normal;
    text-align: left;
    padding-top: 40px;
    padding-right: 150px;
}

.header {
    position: relative;
}

.header-text {
    position: absolute;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 20px;
    margin-top: -25px;
    font-family: "Poppins";
    font-size: 22px;
    font-weight: normal;
    color: white;
}

/* WORKSHOP */
#workshop-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#workshop-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

#workshop-body li {
    list-style-type: inline;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-family: "Poppins";
    font-size: 24px;
    text-align: left;
    width: auto;
}

#workshop-body a {
    text-decoration: none;
    color: black;
}

#workshop-body a:visited {
    color: black;
}

#workshop-body a:hover {
    color:#04387C;
}

#workshop-body strong {
    color:#04387C;
}

#workshop-body h2 {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
}

#workshop-body p {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: normal;
}
.service-banner {
    display: flex;
    flex-direction: column;
    background-color: #E1E9EE;
    width: 102.5%;
    height: auto;
    padding-bottom: 20px;
}

.banner-text {
    padding-left: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E1E9EE;
    padding-left: 20px;
    z-index: 1;
  }

  .dropdown:active .dropdown-content {
    display: block;
  }

  /* SERVICES */
  #services-hero {
    background-image: url(../images/services-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 566px;    
  }