
/* GLOBAL STYLES */

/* Layout*/

html {
    line-height: 0;
    overflow-x: hidden;
    background-color: #f1f1f1;
}

body {
    width: 100%;
}

nav {
    background-color: #04387C;
    height: 100px;
    width: 1440px;
    display: inline-flex;
    padding: 20px 83px 20px 63px;
    align-items: flex-end;
    gap: 159px;
}

/* Buttons */


.main-btn {
    display: block;
    width: auto;
    height: auto;
    padding: 15px 15px;
    border-style: none;
    background-color: #04387C;
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    font-variant:normal;
    font-weight: 300;
    line-height: normal;
}

.btn-reverse {
    display: block;
    width: auto;
    height: auto;
    padding: 15px 15px;
    border-color: #04387C;
    background-color: white;
    color: #04387C;
    font-family: "Poppins";
    font-size: 20px;
    font-variant:normal;
    font-weight: 300;
    line-height: normal;
}


/* HEADER */

#logo {
    display: flex;
    align-content: start;
    width: 100px;
}

#top-nav li {
    display: inline;
    margin-left: 30px;
    font-family: "Poppins";    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    color: white;
}
  
  #top-nav ul {
    padding-left: 0;
}

#top-nav li:hover {
    color: orange;
    font-weight: 500;
}



/* HERO */

#hero {
    background-image: url(../images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero-text h1 {
    font-family: "Poppins";
    font-size: 80px;
    font-weight: 600;
    line-height: 110%;
    color: white;
    justify-content: center;
    padding: 80px;
    margin-bottom: -140px;
}

.hero-text h2 {
    font-family: "Poppins";
    font-size: 50px;
    font-weight: 400;
    line-height: 110%;
    color: white;
    justify-content: center;
    padding: 80px;
}

.hero-btn {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: -60px;
    padding-bottom: 70px;
}

/* EVENT SECTION */
#event {
    background-image: url(../images/event.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 40px;
    margin: 80px;
}

.event-banner {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.812);
    width: 600px;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.event-banner h2 {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 300;
    padding: 40px;
    line-height: 120%;
}

.event-banner p {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 300;
    line-height: 115%;
    padding-left: 40px;
    padding-right: 40px;
}

.event-btn {
    padding-top: 40px;
    padding-bottom: 40px;
}

#event strong {
    font-weight: 600;
    color:#04387C;
}

/* BIKES SECTION */
#bikes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bikes h1 {
    font-family: "Poppins";
    font-size: 55px;
    font-weight: 500;
    color: #303030;
}

.bikes-banner {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.bike {
    position: relative;
}

.info-overlay {
    position: absolute; /* Positioned over the image */
    top: 65%;
    left: 0;
    width: 100%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-text {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
    color: #303030;
}

.info-link {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    color: #303030;  
}